<?xml version="1.0" encoding="ISO-8859-1" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "example"
	version    = "1.0">
	<name>Cocktail shaker</name>
	<description>Shake the device to get full instructions for the most wonderfull and delicious cocktails</description>
	<icon src="images/icon.png" />
</widget>